
# directories (by name)

build/
buildsrc/
keys/
scripts/

bin/
obj/

TestResults/

# directories (by pattern)

**/[Pp]ackages/*
!**/[Pp]ackages/build/

# files (by name)

build.cmd

Local.testsettings
TraceAndTestImpact.testsettings

project.lock.json
project.assets.json

# files (by pattern)

*~
*.*~
*.nupkg
*.opensdf
*.org
*.proj
*.scc
*.sdf
*.suo
*.swp

*.nuget.props
*.nuget.targets

*.csproj*.user
*.vcproj.user
*.vcxproj.user
TestResult*.xml
UpgradeLog*.XML
