
# directories (by name)

build/
buildsrc/
keys/
scripts/

bin/
obj/

TestResults/

# directories (by pattern)

# files (by name)

build.cmd

Local.testsettings
TraceAndTestImpact.testsettings

# files (by pattern)

*.*~

*.csproj*.user
*.nupkg
*.proj
*.scc
*.suo
*.swp


